<div id="create_hd_page" class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 py-5">
      <p-card header="Criar chamado">
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="hdTitle">Título</label>
                <input 
                  type="text"
                  class="form-control" 
                  id="hdTitle" 
                  formControlName="hdTitle"
                >
                <span *ngIf="hdTitle.invalid" [ngClass]="'error'"> Name required with max 15 character. </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div class="ui-clickable-custom-filedset">
                <div class="row">
                  <div class="col-lg-12">
                    <label for="hdType">Tipo</label>
                  </div>
                </div>
                <p-selectButton 
                  [(ngModel)]="optionsHdTypeSelected"
                  [options]="optionsHdType" 
                  (change)="onChange($event.target.value)" 
                  formControlName="hdType"
                >
                </p-selectButton>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div class="ui-clickable-custom-filedset">
                <div class="row">
                  <div class="col-lg-12">
                    <label for="hdDescription">Prioridade</label>
                  </div>
                </div>
                <p-selectButton 
                  [(ngModel)]="optionsHdPrioritySelected"
                  [options]="optionsHdPriority" 
                  (change)="onChange($event.target.value)" 
                  formControlName="hdPriority"
                >
                </p-selectButton>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hdCreateDate">Criado em</label>
                <input 
                  type="text"
                  pInputText
                  class="form-control" 
                  id="hdCreateDate" 
                  formControlName="hdCreateDate"
                  disabled 
                >
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
              <fieldset class="ui-clickable-custom-filedset">
                <span class="legend" for="hdDescription">Situação</span>
                <p-selectButton 
                  [(ngModel)]="optionsHdStatusSelected"
                  [options]="optionsHdStatus" 
                  (change)="onChange($event.target.value)" 
                  formControlName="hdStatus"
                >
                </p-selectButton>
                </fieldset> 
              <!-- <div class="ui-clickable-custom-filedset">
                <div class="row">
                  <div class="col-lg-12">
                    <label for="hdDescription">Situação</label>
                  </div>
                </div>
                <p-selectButton 
                  [(ngModel)]="optionsHdStatusSelected"
                  [options]="optionsHdStatus" 
                  (change)="onChange($event.target.value)" 
                  formControlName="hdStatus"
                >
                </p-selectButton>
              </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="hdDescription">Descrição</label>
                <textarea 
                  class="form-control" 
                  id="hdDescription"
                  rows="5"
                  formControlName="hdDescription"
                ></textarea>
              </div>
            </div>
          </div>

          <p-button
            *ngIf="!loadingSpin"
            icon="pi pi-save" 
            styleClass="ui-button-success ui-button-raised"
            class="m-1"
            [disabled]="false"
            label="Salvar"
            (click)="onSubmit()"
          >
          </p-button>
          <p-button
            *ngIf="loadingSpin"
            icon="pi pi-spin pi-spinner" 
            styleClass="ui-button-success"
            class="m-1"
            [disabled]="true"
            label="salvando..."
          >
          </p-button>
        </form>
      </p-card>
    </div>
  </div>
</div>

<app-toast-dialog position="top-right"></app-toast-dialog>
