<div class="container-table-home">
  <div class="wrap-table-home">
    <div *ngIf="dataHds?.length > 0" class="table-home ver1 m-b-110">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Tipo</th>
            <th scope="col">Situação</th>
            <th scope="col">Prioridade</th>
            <th scope="col">Criado em</th>
            <th scope="col">Resumo</th>
            <th scope="col" translate="">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataHds | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ row.hdTitle }}</td>
            <td translate>{{ row.hdType }}</td>
            <td translate>{{ row.hdStatus }}</td>
            <td translate>{{ row.hdPriority }}</td>
            <td>{{ row.hdCreateDate }}</td>
            <td *ngIf="row.hdDescription.length <= 30">
              {{ row.hdDescription }}
            </td>
            <td 
              *ngIf="row.hdDescription.length > 30"
              data-toggle="tooltip"
              data-placement="top" 
              title="{{ row.hdDescription }}"
            >
              {{ row.hdDescription.slice(0,30)+'...' }}
            </td>
            <td class="table-home--buttons">
              <button 
                type="button" 
                class="btn btn-primary"
                (click)="openModal(row)"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button>
              <button 
                type="button" 
                class="btn btn-danger"
                (click)="deleteHd(row._id)"
                >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div *ngIf="dataHds?.length === 0">
      <h1>Nada por aqui!</h1>
    </div>
  </div>
</div>