.js-pscroll {
  position: relative;
  overflow: hidden
}

.table-home {
  background-color: #fff;
  & .table-home--buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    & i {
      font-size: 0.8rem;
    }
  }
}

.table-home.ver1 tr:hover td {
  background-color: #eff1ff;
  cursor: pointer
}

.table-home .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1!important;
  right: 5px
}

.table-home .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px
}

.table-home .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1!important
}

.table-home .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px
}

.limiter {
  width: 1366px;
  margin: 0 auto
}

.container-table-home {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px
}

.wrap-table-home {
  width: 1170px
}

table {
  width: 100%
}

th,td {
  font-weight: unset;
  padding-right: 10px
}

.table-home-head th {
  padding: 10px;
}

.table-home-body td {
  padding: 10px;
}

.table-home {
  position: relative;
}

.table-home-body {
  max-height: 585px;
  overflow: auto
}

.table-home.ver1 th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0
}

.table-home.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4
}

.table-home.ver1 .table-home-body tr:nth-child(even) {
  background-color: #f8f6ff
}

.table-home.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15)
}

.table-home.ver1 .ps__rail-y {
  right: 5px
}

.table-home.ver1 .ps__rail-y::before {
  background-color: #ebebeb
}

.table-home.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #ccc
}

.table-home.ver2 .table-home-head {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)
}

.table-home.ver2 th {
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;
  background-color: transparent
}

.table-home.ver2 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4
}

.table-home.ver2 .table-home-body tr {
  border-bottom: 1px solid #f2f2f2
}

.table-home.ver2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15)
}

.table-home.ver2 .ps__rail-y {
  right: 5px
}

.table-home.ver2 .ps__rail-y::before {
  background-color: #ebebeb
}

.table-home.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #ccc
}

.table-home.ver3 {
  background-color: #393939
}

.table-home.ver3 th {
  font-size: 15px;
  color: #00ad5f;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939
}

.table-home.ver3 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  background-color: #222
}

.table-home.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15)
}

.table-home.ver3 .ps__rail-y {
  right: 5px
}

.table-home.ver3 .ps__rail-y::before {
  background-color: #4e4e4e
}

.table-home.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f
}

.table-home.ver4 {
  margin-right: -20px
}

.table-home.ver4 .table-home-head {
  padding-right: 20px
}

.table-home.ver4 th {
  font-size: 18px;
  color: #4272d7;
  line-height: 1.4;
  background-color: transparent;
  border-bottom: 2px solid #f2f2f2
}

.table-home.ver4 {
  padding-left: 7px
}

.table-home.ver4 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4
}

.table-home.ver4 .table-home-body tr {
  border-bottom: 1px solid #f2f2f2
}

.table-home.ver4 {
  overflow: hidden
}

.table-home.ver4 .table-home-body {
  padding-right: 20px
}

.table-home.ver4 .ps__rail-y {
  right: 0
}

.table-home.ver4 .ps__rail-y::before {
  background-color: #ebebeb
}

.table-home.ver4 .ps__rail-y .ps__thumb-y::before {
  background-color: #ccc
}

.table-home.ver5 {
  margin-right: -30px
}

.table-home.ver5 .table-home-head {
  padding-right: 30px
}

.table-home.ver5 th {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: transparent
}

.table-home.ver5 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  background-color: #f7f7f7
}

.table-home.ver5 .table-home-body tr {
  overflow: hidden;
  border-bottom: 10px solid #fff;
  border-radius: 10px
}

.table-home.ver5 .table-home-body table {
  border-collapse: separate;
  border-spacing: 0 10px
}

.table-home.ver5 .table-home-body td {
  border: solid 1px transparent;
  border-style: solid none;
  padding-top: 10px;
  padding-bottom: 10px
}

.table-home.ver5 .table-home-body td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.table-home.ver5 .table-home-body td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px
}

.table-home.ver5 .table-home-head th {
  padding-top: 25px;
  padding-bottom: 25px
}

.table-home.ver5 {
  overflow: hidden
}

.table-home.ver5 .table-home-body {
  padding-right: 30px
}

.table-home.ver5 .ps__rail-y {
  right: 0
}

.table-home.ver5 .ps__rail-y::before {
  background-color: #ebebeb
}

.table-home.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #ccc
}
