<div class="nova-colored">
  <p-card header="Chamados">
    
    <p-table
      [value]="dataHds"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
          <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Situação</th>
            <th>Prioridade</th>
            <th>Criado em</th>
            <th>Resumo</th>
            <th translate>actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
          <tr (click)="handleSelectedRowId(row._id)">
            <td>{{ row.hdTitle }}</td>
            <td translate>{{ row.hdType }}</td>
            <td translate>{{ row.hdStatus }}</td>
            <td translate>{{ row.hdPriority }}</td>
            <td>{{ row.hdCreateDate }}</td>
            <td *ngIf="row.hdDescription.length <= 20">
              {{ row.hdDescription }}
            </td>
            <td 
              *ngIf="row.hdDescription.length > 20"
              data-toggle="tooltip"
              data-placement="top" 
              title="{{ row.hdDescription }}"
            >
              {{ row.hdDescription.slice(0,30)+'...' }}
            </td>
            <td class="table-home--buttons">        
              <button 
                mat-raised-button 
                color="primary"
                (click)="openModal(row)"
                tooltipPosition="top"
                pTooltip="{{ 'edit' | translate }}"
              >Editar</button>
              <button 
                mat-raised-button 
                color="primary"
                tooltipPosition="top"
                (click)="showConfirm()"
                pTooltip="{{ 'delete' | translate }}"
              >Deletar</button>
            </td>
          </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<app-toast-dialog></app-toast-dialog>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>teste</h3>
          <p>kkkkkkkkkkkkk</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="deleteHd()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>