  <div class="container">
    <h1 class="mt-5">Página inicial</h1>
    <table class="table table-hover table-striped table-bordered table--hd">
      <thead>
        <tr>
          <th>Código</th>
          <th>Criado em</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3,000</td>
          <td>3,000</td>
          <td>3,000</td>
          <td>3,000</td>
          <td>3,000</td>
        </tr>
      </tbody>
    </table>
  </div>
